.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    z-index: 10;
    justify-content: space-between;
}

.logo {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.nav-bar-text {
    margin-left: 10px;
    font-size: 1.2rem;
}

.back-button {
    background-color: grey;
    color: white;
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 25px;
}

.back-button:hover {
    background-color: darkgray;
}

/* Tablets */
@media (max-width: 768px) {
    .logo {
        width: 50px;
        height: 50px;
    }

    .nav-bar-text {
        font-size: 1rem; 
    }
}

/* Phones */
@media (max-width: 480px) {
    .logo {
        width: 40px; 
        height: 40px;
    }

    .nav-bar-text {
        font-size: 0.9rem;
    }
}

.logout-back-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  /* Logout Button Styling */
  .logout-button {
    background: none;
    border: 1px solid #D32F2F;  /* A bold, recommended red */
    color: #D32F2F;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: rgba(211, 47, 47, 0.1); /* Light red hover background */
  }